<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <f:view contentType="text/html" 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:c="http://java.sun.com/jsp/jstl/core">
  <html>
    <h:head>
      <title>TORETTO AUTO-PARTS</title>
      
<style type="text/css">
#page {
  width: 1000px; margin: 0 auto;
}
#header .title {
  font-size: 3em;
  color: #D49768;
}
#header .subtitle {
  font-size: 1.5em;
  display: block;
  color: #D49768;
}
#body {
  margin-top: 20px;
}
.column {
  padding: 5px;
  vertical-align: top;
}
h2 {
  color: #D49768;
}
.product-title {
  font-size: 14px;
  font-weight: bold;
}
.product-sumary {
  margin-top: 8px;
  display: block;
}
.links{
  display: block;
  margin-top: 10px;
}
.links a {
  padding: 5px;
}
.link {
  color: #D49768;
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.list-content {
  width: 98%; 
  text-align: center; 
  border: 0;
}
.panel-content {
  width: 98%; 
  margin-top: 10px;
}

</style>
    </h:head>
   
    <body>
      <div id="page">
        <div id="header">
          <span class="title">TORETTO AUTO-PARTS</span><br />
          <span class="subtitle">High Performances Auto-Parts</span><br />
          <span class="links">
            <h:link value="Product List" outcome="product" styleClass="link" /><h:outputText value="  " />
            <h:link value="My Cart" outcome="shoppingCart" styleClass="link" />
          </span>
          <hr />
        </div>
        <div id="body">
          <ui:insert name="body" />
        </div>
      </div>
    </body>
  </html>
  </f:view>