<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"> 

<ui:composition template="/template/template.xhtml">
    <ui:define name="body">
      <h3>
        <h:outputFormat value="Purchase Sucessfull" />
      </h3>
        <br /><br />
        <h:outputText value="#{shoppingCartMBean.customer.name}" />
        <h:outputText value=", this is your Purchase number: " />
        <h:outputText value="#{shoppingCartMBean.idGeneratedPurchase}" />
        <br/>
    </ui:define>
  </ui:composition>
</html>
