<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:c="http://java.sun.com/jsp/jstl/core"> 
      
<head>
	<title>Toretto AutoParts</title>
	
<style type="text/css">
	
#header .subtitle {
  font-size: 1.5em;
  display: block;
  color: #D49768;
}

</style>
	
</head> 
<body> 
	
	<f:facet name="header">
        TORETO AUTO-PARTS
    </f:facet>
    
    <br />
		<br />
		<h:form>
			<table width="58%" border="0" align="center" cellpadding="5" cellspacing="0">
			  <tr>
			  	<td colspan="2" align="center">
			  		<span class="subtitle">WELLCOME TO TORETTO AUTO-PARTS</span><br />
			  	</td>
			  </tr>
	          <tr>
	            <td width="34%"><h:outputLabel for="user" value="User" /></td>
	            <td width="66%"><h:inputText id="user" value="#{loginMBean.customer.email}" size="30" maxlength="20" /></td>
	          </tr>
	          <tr>
	            <td><h:outputLabel for="passWd" value="Password"/></td>
	            <td><h:inputSecret id="passWd" value="#{loginMBean.customer.password}" size="30" maxlength="12" /></td>
	          </tr>
	          <tr>
	            <td colspan="2" align="center">
		            <h:commandButton id="login" action="#{loginMBean.login()}" value="Login"/>
	            </td>
	          </tr>
        	</table>
		</h:form>

</body> 
</html>
