<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
  <ui:composition template="/template/template.xhtml">
    <ui:define name="body">
      <h2>Product List</h2>    
      <h:form>
      
      	<h:link value="Enter to continue" outcome="login" styleClass="link" rendered="#{productMBean.productList.size() == 0}"/>
      	
        <h:dataTable id="productList" value="#{productMBean.productList}" var="item" styleClass="list-content">
           <h:column>
             <table style="width: 100%; margin-top: 10px;">
				<tr>
	            <td class="column" style="width:20%">
	              <h:graphicImage value="#{item.photoName}" height="100px" width="100px">
	                  <f:param name="id" value="#{item.id}" />
	              </h:graphicImage>
	            </td>
	            <td class="column" style="width:55%;text-align: left;">
	              <h:outputText value="#{item.name}" styleClass="product-title" />
	              <span class="product-sumary">
	                <h:outputText value="#{item.description}" escape="false"/>
	              </span>
	            </td>
	            <td class="column" style="width:25%;text-align:center;">
	              <h:outputText value="#{item.price}">
	                <f:convertNumber currencyCode="USD" type="currency" /> 
	              </h:outputText>
	              <br />
	              <h:commandButton  value="Add to cart" action="#{shoppingCartMBean.addToShoppingCart(item)}" style="margin-top: 15px;"/>
	            </td>
	          </tr>
	        </table>             
           </h:column>
        </h:dataTable>

      </h:form>
    </ui:define>
  </ui:composition>
  </html>


