<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html" 
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets">
    
  <ui:composition template="/template/template.xhtml">
    <ui:define name="body">
      <h2>My Cart</h2>    
      <h:form id="formShoppingVCart">
      
        <h:link value="Enter to continue" outcome="login" styleClass="link" rendered="#{productMBean.productList.size() == 0}"/>
      	<h:outputText value="--No itens added--" rendered="#{!shoppingCartMBean.hasItens() and productMBean.productList.size() > 0}"/>
      
        <h:dataTable id="listItens" value="#{shoppingCartMBean.purchaseCart.orderedItens}" var="item" rendered="#{shoppingCartMBean.hasItens()}" styleClass="list-content">
          <h:column style="width: 60%">
          	<f:facet name="header" > <h:outputText value="PRODUCT" /> </f:facet>
            <h:outputText value="#{item.product.name}" />
          </h:column>
          <h:column style="width: 15%">
          	<f:facet name="header" > <h:outputText value="QUANTITY" /> </f:facet>
            <h:outputText value="#{item.quantity}" />
            <f:facet name="footer">  
              <h:outputLabel value="Total"/>  
            </f:facet> 
          </h:column>
          <h:column style="width: 15%; text-align: right;">
          	<f:facet name="header" > <h:outputText value="TOTAL" /> </f:facet>
            <h:outputText value="#{item.totalPrice}">
              <f:convertNumber currencyCode="USD" type="currency" />
            </h:outputText>
            <f:facet name="footer">
              <h:outputText value="#{shoppingCartMBean.purchaseCart.total}">
                <f:convertNumber currencyCode="USD" type="currency" />
              </h:outputText>
            </f:facet>          
          </h:column>
          <h:column>
          	<f:facet name="header" > <h:outputText value="REMOVE" /> </f:facet>
            <h:commandButton value="Remove" action="#{shoppingCartMBean.removeFromCart()}">
              <f:setPropertyActionListener value="#{item}"  target="#{shoppingCartMBean.productToRemove}" />
            </h:commandButton>
          </h:column>  
        </h:dataTable>
        
        <br/><br/>
        <h:link outcome="product" styleClass="link" value="Continue..." rendered="#{productMBean.productList.size() > 0}"/>
        <br/><br/>
         <hr />
          <h:panelGrid columns="2" styleClass="panel-content" rendered="#{productMBean.productList.size() > 0}">
            <h:outputLabel value="Email" for="txtEmail" />
            <h:inputText value="#{shoppingCartMBean.customer.email}" id="txtEmail" size="25" maxlength="40" disabled="true" label="User"/>
          	<h:commandButton action="#{shoppingCartMBean.requestPurchase()}"  value="Finalize"/>
          </h:panelGrid>
        
      </h:form>    
    </ui:define>
  </ui:composition>
  </html>


